/*
TODO(you): Write any additional styles you need here.
*/
.hide{
    display:'none';
}
#music{
    display: flex;
    flex-flow:column;
    align-items:center;			
    justify-content:center;   	
    height:100vh;
    width:100%;
}
.main_window{
    flex-grow:1;
}
.fron_layer{
    width:100%;
    height:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:2;
    
}
.back_layer{
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
    position: absolute;
    top:0;
    bottom:70px;
}
.play_bar{
    margin:5px;
    height:60px;   
    z-index: 2;
}
.play_img{
    height:60px;
    width:60px;
}